<!DOCTYPE html>
<html>
<!-- 1 html -->

<head>
    <!-- 2 head-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- 3 title-->
    <title>Luleå Tekniska Universitet</title>
    <style type="text/css">
        p {
            font-family: Georgia;
        }
    </style>
</head>

<body>
    <!-- 4 body -->
    <h1>Luleå Tekniska Universitet</h1>
    <p>Schemahantering vid Luleå tekniska universitet </p>
    <!-- 5 h1-->
    <br>
    <!-- 7 br -->
    <hr>
    <app-header></app-header>
</body>

</html>