<div *ngIf="user" class="main-div">
    <form [formGroup]="searchCourseForm" (ngSubmit)="searchCourse()">
        <div class="Form-group">
            <label for="Kurskod">Kurskod</label>
            <input type="text" name="Kurskod" class="form-control" formControlName="courseCode">
        </div>
        <button class="btn btn-primary" type="submit">Sök</button>

    </form>
    <form onsubmit="onSubmit">
        <label for="kurskod">Kurskod</label>
        <input type="text" name="kurskod" size="20" />
        <br />

        <label for="kursnamn">Kursnamn</label>
        <input type="text" name="kursnamn" size="25" />
        <br />

        <label for="kursansvarig">Kursansvarig</label>
        <input type="text" name="Kursansvarig" size="25">
        <br />

        <label for="telefon">TelefonNr</label>
        <input type="text" name="telefon" size="25" />
        <br />

        <label for="modul">Modul</label>
        <input type="text" name="modul" size="25" />
    </form>

</div>

<table *ngIf="this._selectedCourses.length>0">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Tid</th>
            <th *ngFor="let header of _selectedCourses[0]['columnheaders']">{{header}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reservation of _selectedCourses[0]['reservations']">
            <td>{{reservation['startdate']}}</td>
            <td>{{reservation['starttime']}}</td>
            <td *ngFor="let entry of reservation['columns']">{{entry}}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" (click)="addEvent()">Lägg till event</button>
