<app-header></app-header>
<!--<div id="header">
    <img src="../user/logo.png" alt="">
</div>-->
<link rel="stylesheet" href="user.component.css">
<div class="welcome-container">
    Välkommen tillbaka Fredrik Lindahl!
</div>
<div class="container">
    <div id="instructionbox">
        <fieldset>
            <legend>Instruktioner</legend>
        <p>I listan till höger finns uppgifter om vilka kurser Du kommer att läsa/undervisa i.</p><br>
        <p>Använd sökrutan här intill för att söka schema för en kurs genom at ange kurskod.</p><br>
        <p>Vid träff ges alla planerade undervisningstillfällen. Skriv kommentarer och ange möteslänk vid behov.</p><br>
        <p>Lägg sedan in tillfället i Canvas genom att trycka på knappen 'lägg till'.</p><br>
    </fieldset>
    </div>


<div *ngIf="user" class="main-div" id="searchForm">
    <form [formGroup]="searchCourseForm" (ngSubmit)="searchCourse()">
        <div class="Form-group">
            <label for="Kurskod">Kurskod</label>

            <input type="text" name="Kurskod" class="form-control" formControlName="courseCode">
        </div>
        <button class="btn btn-primary" type="submit">Sök</button>

    </form>
    <!--<form [formGroup]="user">
        <b>{{user.username}}</b>

    </form>
    <form onsubmit="onSubmit">
        <label for="kurskod">Kurskod</label>
        <input type="text" name="kurskod" size="20" />
        <br />

        <label for="kursnamn">Kursnamn</label>
        <input type="text" name="kursnamn" size="25" />
        <br />

        <label for="kursansvarig">Kursansvarig</label>
        <input type="text" name="Kursansvarig" size="25">
        <br />

        <label for="telefon">TelefonNr</label>
        <input type="text" name="telefon" size="25" />
        <br />


    </form>-->


</div>
<div id="courseOverview">
    <fieldset>
        <legend>Dessa kurser har du</legend>
    <table>
        <thead>
            <tr>
                <th>Läsperiod 1</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>S0009E</td>
                <td>Programmering av datorspelsgrafik</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>Läsperiod 2</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>D0037D</td>
                <td>Objektorienterad programmering</td>
            </tr>
        </tbody>
    </table>
</fieldset>
</div>


</div>
<table *ngIf="this._selectedCourses.length>0">
    <thead>

        <tr>
            <th>Datum</th>
            <th>Tid</th>
            <th *ngFor="let header of _selectedCourses[0]['columnheaders']">{{header}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reservation of _selectedCourses[0]['reservations']; let i = index;">
            <td>{{reservation['startdate']}}</td>
            <td>{{reservation['starttime']}}</td>
            <td>{{reservation['columns'][0]}}</td>
            <td>{{reservation['columns'][1]}}</td>
            <td>{{reservation['columns'][2]}}</td>
            <td>{{reservation['columns'][3]}}</td>
            <td>{{reservation['columns'][4]}}</td>
            <td><input type="text" id="comment{{i+1}}" name="comment+{{i+1}}" value="{{reservation['columns'][5]}}"></td>
            <td><input type="text" id="meetinglink{{i+1}}" name="meetinglink+{{i+1}}" value="{{reservation['columns'][6]}}"></td>
            <td>{{reservation['columns'][7]}}</td>
            <td>{{reservation['columns'][8]}}</td>
            <td>{{reservation['columns'][9]}}</td>
            <td>{{reservation['columns'][10]}}</td>
            <button class="btn btn-primary" (click)="addEvent(reservation, i+1)">Lägg till event</button>
        </tr>
    </tbody>
</table>
  