.header-image {
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.card {
    width: 80%;
    max-width: 80%;
    margin-top: 2%;
}

.main-div {
    width: 100%;
    justify-content: left;
}

html {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px left rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td,
th {
    border: 1px left rgb(190, 190, 190);
    padding: 10px 20px;
}

td {
    text-align: left;
}

caption {
    padding: 10px;
}

label {
    color: rgb(3, 32, 64);
    padding: 4px 9px;
}