<h1>{{greetUser()}}</h1>

<h3>Kurserna du har ansvar över är:</h3>
<table>   
    <tr>
       <th>ID</th>
       <th>Kurskod, Kursnamn</th>
       <th>Deltagande Lärare</th>
       <th>Campus</th>
       <th>Komplett Schema</th>
    </tr>
    <tr>
        <td>D0023E</td>
        <td>Forskningsmetoder inom informationssystem</td>
        <td>(Visa deltagande lärare)</td>
        <td>Luleå</td>
        <td><button (click)="onScience()">Visa Schema</button></td>
    </tr>
    <tr>
        <td>D0031N</td>
        <td>Enterprise Architecture och SOA</td>
        <td>(Visa deltagande lärare)</td>
        <td>Luleå</td>
        <td><button (click)="onSoa()">Visa Schema</button></td>
    </tr>


    
</table>


<div class="container">
<h1>Sök via Kurskod</h1> 
    <form #searchcourse="ngForm"(ngSubmit)="submit(searchcourse)">
        <div class="Form-group">
            <label for="Kurskod">Kurskod</label>
            <input type="text" name = "Kurskod" class="form-control" ngModel>
        </div>
        <button class="btn btn-primary" type="submit">Sök</button>
     </form>

</div>

 <h1>{{schedule}}</h1>